div.Home {

  table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    padding-top: 30px;

    th, td {
      padding: 4px;
    }

    th {
      color: $color-brown;
      border-bottom: 1px solid $color-black;
    }

    a {
      color: $color-brown;
    }

  }

}